*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
}

body{
    background-image: url("alexander-savonin-JT-ADySithU-unsplash (1).jpg");
    background-size: cover;
    background-attachment:fixed;
    padding: 0;
}

#header{
    background-color: #ffffff;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
} 

h3{
    font-weight: bold;
}

h1{
    font-size: 40px;
    font-weight: 500;
}

#title{
    text-decoration: none;
    color: rgb(88, 88, 88);

}

nav{
    background-color:rgba(48, 47, 47, 0.801);
    justify-content: space-evenly;
    display: flex;
    height:50px;
}

.link {
    display: inline-block;
    margin: 0 50px;
    position: relative;
}

nav ul {
    display:flex;
    align-items: center; 
    margin: 0;
    padding: 0;
}

#nav-links{
    text-decoration: none;
    color: white;  
    text-transform: uppercase;
}

#nav-links:hover{
    text-decoration: none;
    color: rgb(100, 173, 185);  
    text-transform: uppercase;
}

#nav-links::after{
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: #ffffff;
    position: absolute;
    transition: all ease-in-out 400ms;
    bottom: 0;
}

#nav-links:hover::after{
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: rgb(100, 173, 185);
    position: absolute;
}

#forecast{
    color:black;
    text-decoration: none;
}

.container{
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.card{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:aliceblue;
    padding:20px;
    border-radius:10px;
    margin: 10px;
}

#cityContainer{
    padding: 0;
    width: 250px;
}

#cityBtnContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#addStoryForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#mountainContainer{
    text-align: center;
}

#forecastP{
    text-align: center;
}

.normBtn{
    height: 40px;
    width: 170px;
    border-radius: 10px;
    font-size: 15px;
    color: black;
}

.normBtn:hover{
    height: 45px;
    width: 175px;
    font-weight: bold;
}

.location-btn{
    margin-bottom: 20px;
}

#submit{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 200px;
    border-radius: 10px;
}

#gear{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    display: flex;
    background-color:aliceblue;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}

li{
    list-style: none;
    cursor: pointer;
}

.trailList{
    background-color: aliceblue;
    width: 500px;
    border-radius:10px;
    display: flex;
    justify-content: center;
    /* padding: 10px; */
}

#trail{
    border: none;
    appearance: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    font-weight: 600;
    width: 250px;
    text-align: center;
    outline: none;
    font-size: 14px;
}

.skied{
    color: grey;
    text-decoration: line-through;
}

button{
    height: 20px;
    width: 20px;
}

.trailClass{
    padding: 20px;
}

#videoContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

#videos{
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* background-color: aliceblue; */
    border-radius: 10px;
    width: 580px;
    margin-bottom: 60px;
}

.videoTitle{
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 15px;
}

#trailElem{
    font-weight: bold;
    margin: 10px;
}

#trailLi{
    margin: 10px;
}

.trailList{
    margin: 20px;
}

#btmCityCard{
    margin-bottom: 10px;
}

#topCityCard{
    margin: 10px;
}

.gearMsg{
    color:royalblue;
}

p{
    text-align: center;
}
